/* 
    RESET
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/



.bg-green{
    background-color:#3C9687;
    height: 20%;
}

.bg-beige{
    background-color: #D6DBD7;
    height: 80%;
}

.bg-light-blue{
    background: #8EDAFC;
    height: 60px;
}


.main-box{
    width: 80%;
    height: 90vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;    
}

.main-box header{
    background: #EAEAEA;
}



.search-button{
    background-color: white;
    border:1px solid lightgray;
    color: gray;
    width: 10%;
}

.search-input{
    width: 90%;
    border:1px solid lightgray;
}

.chat-scroll{
    overflow: auto;
    min-width: 200px;
    list-style-type: none;
    flex-grow: 1;
}

.main-height{
    height: calc(100% - 34px);
}


.search-bar{
    height: 30px;
}

.fa-circle-notch , .fa-message, .fa-ellipsis-vertical{
    font-size: larger;
}

.user-img{
    width: 50px;
    height: 50px; 

}
.user-img img{
    width: 100%;
    border-radius: 50%;
}


/* 
    CHAT BOX
*/

.chat-box{
    background-image: url('../img/mine.jpg');
    flex-grow: 1;
}

.footer-chat{
    min-height: 5px;
}

.footer-chat button{
    width: 80px;
    border: none;
    height: 50px;
}

/* 
    MESSAGE STYLE
*/
.sent{
    background-color:#D5F9BA ;
    border-radius: 5px;
    padding: 5px;
}

.received{
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 5px;
}
